[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"

[packages]
awscli = "*"
pandas = "*"
xlrd = "*"
pyarrow = "*"
atomicwrites = "*"
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2019fa-csci-utils-awrockwell"}

# Might need later:
# csci-utils = { path = ".", editable = true }

[requires]
python_version = "3.7"
